.account-page {
    --section-block-margin: 4rem;

    display: grid;
    grid-template-columns: auto 1fr;

    & .profile-img {
        border-radius: var(--border-radius-standard);
        margin-bottom: 3.75rem;
        max-width: 404px;
    }

    & .about-me-card,
    & .my-membership-card {
        --card-inline-padding: 3.875rem;
        --card-block-padding: 3rem;

        margin-bottom: 4rem;
    }

    & .my-membership-card {
        & .no-active-membership {
            font-weight: var(--fw-semi-bold);
            font-size: var(--fs-section-sub-heading);
            text-align: center;
            padding-block: 4rem;
        }

        & button[type="submit"] {
            justify-self: center;
        }
    }

    & form {
        gap: 0.5rem;
    }

    & .divider {
        background-color: var(--clr-neutral-300);
        margin-block: 2rem;
    }

    & .divider-with-text {
        --divider-color: var(--clr-neutral-300);
        margin-top: 1rem;
    }

    & button[type="submit"] {
        justify-self: right;
    }

    & .profile-menu-wrapper {
        background-color: var(--clr-neutral-100);
        border-radius: var(--border-radius-standard);
        margin-bottom: 1.25rem;
    }

    & .menu-title-wrapper {
        background-color: var(--clr-accent-400);
        border-radius: var(--border-radius-standard) var(--border-radius-standard) 0 0;
        line-height: 65px;
        padding-inline: 2rem;

        & #profile-menu-title {
            font-weight: var(--fw-semi-bold);
        }
    }

    & .profile-menu-links {
        padding-inline: 2rem;
        list-style: none;
        font-weight: var(--fw-semi-bold);
        margin: 0;
        padding-block: 0.5rem;

        & .menu-item {
            line-height: 65px;
            font-weight: var(--fw-semi-bold);


            & a {
                text-decoration: none;
                color: var(--clr-primary-400);
                display: flex;
                justify-content: space-between;
            }

            & a.active {
                color: var(--clr-accent-400);
                fill: var(--clr-accent-400);
            }
        }

        & .menu-item:not(:last-child) {
            border-bottom: 1px solid var(--clr-neutral-300);
        }
    }

    & .remove-account {
        text-align: center;
        font-size: 0.625rem;


        & .remove-link {
            font-weight: var(--fw-semi-bold);
            font-size: 0.875rem;
            color: var(--clr-remove);
            margin-top: 0.625rem;
        }
    }

    & .progress-section {
        & .progress-card {
            --card-block-padding: 1.875rem;
            --card-inline-padding: 3.125rem;

            margin-top: 1.25rem;
        }

        & .progress-title-wrapper {
            display: flex;
            justify-content: space-between;
            font-weight: var(--fw-medium);
            margin-bottom: 1rem;
            margin-top: 1.7rem;

            & label {
                font-family: var(--ff-heading);
            }

        }

        & progress {
            width: 100%;
            height: 10px;
            appearance: none;
            border: none;
            border-radius: 100vw;
            overflow: hidden;
            /* firefox fix */
        }

        & progress::-webkit-progress-bar {
            background-color: var(--clr-neutral-200);
            border-radius: 100vw;
        }

        & progress::-webkit-progress-value {
            background-color: var(--clr-accent-400);
            border-radius: 100vw;
        }

        /* firefox */
        & progress::-moz-progress-bar {
            background-color: var(--clr-accent-400);
            border-radius: 100vw;
        }
    }

    @media (width < 992px) {
        --section-block-margin: 2rem;

        grid-template-columns: 1fr;

        & .profile-aside {
            display: grid;
            justify-items: center;
        }

        & .profile-menu-wrapper {
            width: 100%;
        }
    }
}

.desktop-header-section {
    gap: 3rem;

    & .main-menu {
        justify-content: flex-start;
    }
}