:root {
    --clr-accent-400: #D6EB31;

    --clr-primary-100: #0805171A;
    --clr-primary-400: #27252F;
    --clr-primary-500: #131020;
    --clr-primary-600: #080517;

    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F7F7F7;
    --clr-neutral-300: #D9D9D9;
    --clr-neutral-400: #A7A7A7;
    --clr-neutral-500: #6F6F6F;
    --clr-neutral-600: #575757;
    --clr-neutral-900: #000000;

    --body-bg-color: var(--clr-neutral-200);
    --heading-text-color: var(--clr-primary-400);
    --body-text-color: var(--clr-neutral-500);
    --header-text-color: var(--clr-neutral-100);    
    --divider-color: hsl(from var(--clr-accent-400) h s l / 0.2);

    --ff-poppins: "Poppins", sans-serif;
    --ff-dmsans: "DMSans", sans-serif;
    --ff-heading: var(--ff-poppins);
    --ff-body: var(--ff-dmsans);
    --ff-badge: var(--ff-dmsans);    

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-section-heading: 3rem;
    --fs-section-sub-heading: 1.75rem;
    --fs-big-heading: 3.375rem;
    --fs-body: 1rem;
    --fs-badge: 0.875rem;

    --section-block-margin: 6rem;

    --border-radius-standard: 20px;
    --border-radius-btn: 50px;
    --border-radius-inputs: 10px;

    --primary-btn-icon-width: 25px;
    --mobile-menu-icon-width: 45px;
    --chevron-width: var(--icon-width);   
}

/* ----- RESETS ----- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

img, 
picture,
svg {
    display: block;
    max-width: 100%;
}

body {
    line-height: 1.5;
    height: 100%;
    margin: 0;
    font-family: var(--ff-body);
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    color: var(--heading-text-color);
}

address {
    font-style: normal;
}

/* BASIC APP LAYOUT */
.app-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    padding: 1rem;
    max-width: 1920px;
    margin-inline: auto;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-inline: auto;

    /* @media (width <= 1200px) {
        max-width: 1140px;
    }

    @media (width <= 992px) {
        max-width: 960px;
    }

    @media (width <= 768px) {
        width: 100%;
        max-width: 720px;
    }

    @media (width <= 576px) {   
        max-width: 100%;
    } */

    &.full {
        width: 100%;
        max-width: 100%;
    }
}

/* SHARED COMPONENTS */
.text-right {
    text-align: right;
}

.divider {
    border: none;
    background-color: var(--divider-color);
    margin-block: 0;
    height: 1px;
    width: 100%;
}

.primary-btn {
    --primary-btn-bg-clr: var(--clr-accent-400);
    --primary-btn-text-clr: var(--clr-primary-400);
    --btn-padding-inline: 1.5rem;
    --btn-padding-block: 1rem;

    display: inline-flex;
    gap: .5rem;
    background-color: var(--primary-btn-bg-clr);
    font-weight: var(--fw-semi-bold);
    color: var(--primary-btn-text-clr);
    fill: var(--primary-btn-text-clr);
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    border-radius: var(--border-radius-btn);
    border: 2px solid var(--primary-btn-bg-clr);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    transition-property: color, fill;
}

.icon-btn,
.btn-blank {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.chevron {
    width: var(--primary-btn-icon-width);
}

.bullet-list {
    --bullet-list-block-padding: 1rem;
    --bullet-list-row-gap: 1.125rem;
    --bullet-list-column-gap: 2.188rem;
    --bullet-list-icon-size: 1.5rem;
    --bullet-list-icon-color: var(--clr-accent-400);

    list-style: none;
    padding: 0;
    padding-block: var(--bullet-list-block-padding);
    width: 100%;
    display: grid;
    row-gap: var(--bullet-list-row-gap);
    column-gap: clamp(1rem, var(--bullet-list-column-gap), 2.5rem); ;

    & li {
        display: inline-flex;
        flex-direction: row;
        gap: 0.5rem;
        align-content: center;
    }

    .icon {
        width: var(--bullet-list-icon-size);
        fill: var(--bullet-list-icon-color);
    }
}

.badge {
    font-size: var(--fs-badge);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-badge);
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding: 0.5rem 1rem;
    border-radius: 100vW;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: var(--clr-accent-400);
        border-radius: 50%;
    }
}

.section-heading {
    font-size: var(--fs-section-heading);
    color: var(--clr-primary-400);
    font-weight: var(--fw-medium);

    @media (width <= 425px) {
        --fs-section-heading: 2.5rem;
    }
}

.card {
    background-color: var(--clr-neutral-100);
    border-radius: var(--border-radius-standard);
    padding: 1rem;
}