:root {
    --clr-accent-400: #D6EB31;

    --clr-primary-100: #0805171A;
    --clr-primary-400: #27252F;
    --clr-primary-500: #131020;
    --clr-primary-600: #080517;

    --clr-neutral-100: #FFFFFF;
    --clr-neutral-200: #F7F7F7;
    --clr-neutral-300: #D9D9D9;
    --clr-neutral-400: #A7A7A7;
    --clr-neutral-500: #6F6F6F;
    --clr-neutral-600: #575757;
    --clr-neutral-900: #000000;

    --clr-danger: #c40024;

    --body-bg-color: var(--clr-neutral-200);
    --heading-text-color: var(--clr-primary-400);
    --body-text-color: var(--clr-neutral-500);
    --header-text-color: var(--clr-neutral-100);
    --divider-color: hsl(from var(--clr-accent-400) h s l / 0.2);

    --ff-poppins: "Poppins", sans-serif;
    --ff-dmsans: "DMSans", sans-serif;
    --ff-heading: var(--ff-poppins);
    --ff-body: var(--ff-dmsans);
    --ff-badge: var(--ff-dmsans);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-section-heading: 3rem;
    --fs-section-sub-heading: 1.75rem;
    --fs-section-sub-heading-small: 1.25rem;
    --fs-big-heading: 3.375rem;
    --fs-body: 1rem;
    --fs-badge: 0.875rem;

    --border-radius-standard: 20px;
    --border-radius-btn: 50px;
    --border-radius-inputs: 10px;

    --primary-btn-icon-width: 25px;
    --mobile-menu-icon-width: 45px;
    --chevron-width: var(--icon-width);
}

/* ----- RESETS ----- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

body {
    line-height: 1.5;
    height: 100%;
    margin: 0;
    font-family: var(--ff-body);
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-heading);
    color: var(--heading-text-color);
}

address {
    font-style: normal;
}

/* BASIC APP LAYOUT */
.layout {
    display: grid;
    height: 100dvh;
    padding: 1rem;
    max-width: 1920px;
    margin-inline: auto;
}

.app-layout {
    grid-template-rows: auto 1fr auto;
}

.auth-layout {
    grid-template-rows: auto 1fr;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin-inline: auto;

    &.full {
        width: 100%;
        max-width: 100%;
    }
}

/* FORMS */
form {
    display: grid;
    gap: 2.5rem;

    & .inputs-group {
        display: grid;
        gap: 1.1rem;
    }

    & .form-group {
        display: grid;
        gap: 0.5rem;
    }

    & .form-checkbox-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        & input {
            width: 30px;
            height: 30px;
        }

        & label {
            font-weight: var(--fw-regular);
        }

        &.checkbox-center {
            justify-content: center;
        }

        &.checkbox-left {
            justify-content: left;
        }
    }

    & label {
        color: var(--clr-primary-400);
        font-family: var(--ff-heading);
        font-weight: var(--fw-semi-bold);
        font-size: 1rem;
    }

    & input,
    & textarea {
        background-color: var(--clr-neutral-200);
        border: 1px solid var(--clr-neutral-200);
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border-radius: var(--border-radius-inputs);
    }

    & input::placeholder,
    & input[readonly] {
        color: var(--clr-neutral-400);
    }
}

/* SHARED COMPONENTS */
.divider {
    border: none;
    background-color: var(--divider-color);
    margin-block: 0;
    height: 1px;
    width: 100%;
}

.divider-with-text {
    --text-size: 1rem;
    --text-background-color: var(--clr-neutral-100);

    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    height: var(--text-size);
    border-bottom: 1px solid var(--divider-color);
    margin-bottom: var(--text-size);

    & span {
        background-color: var(--text-background-color);
        padding: 0 1rem;
    }
}

.primary-btn {
    --primary-btn-bg-clr: var(--clr-accent-400);
    --primary-btn-text-clr: var(--clr-primary-400);
    --btn-padding-inline: 1.5rem;
    --btn-padding-block: 1rem;

    display: inline-flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--primary-btn-bg-clr);
    font-weight: var(--fw-semi-bold);
    color: var(--primary-btn-text-clr);
    font-size: 1rem;
    fill: var(--primary-btn-text-clr);
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    border-radius: var(--border-radius-btn);
    border: 2px solid var(--primary-btn-bg-clr);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    transition-property: color, fill;
}

.icon-btn,
.btn-blank {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.chevron {
    width: var(--primary-btn-icon-width);
}

.bullet-list {
    --bullet-list-block-padding: 1rem;
    --bullet-list-row-gap: 1.125rem;
    --bullet-list-column-gap: 2.188rem;
    --bullet-list-icon-size: 1.5rem;
    --bullet-list-icon-color: var(--clr-accent-400);

    list-style: none;
    padding: 0;
    padding-block: var(--bullet-list-block-padding);
    width: 100%;
    display: grid;
    row-gap: var(--bullet-list-row-gap);
    column-gap: clamp(1rem, var(--bullet-list-column-gap), 2.5rem);

    & li {
        display: inline-flex;
        flex-direction: row;
        gap: 0.5rem;
        align-content: center;
    }

    .icon {
        width: var(--bullet-list-icon-size);
        fill: var(--bullet-list-icon-color);
    }
}

.badge {
    font-size: var(--fs-badge);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-badge);
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    padding: 0.5rem 1rem;
    border-radius: 100vW;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    &::before {
        content: "";
        display: block;
        width: 5px;
        height: 5px;
        background-color: var(--clr-accent-400);
        border-radius: 50%;
    }
}

.section {
    --section-block-margin: 7rem;
    --section-row-gap: 3rem;

    display: grid;
    row-gap: var(--section-row-gap);
    margin-block: var(--section-block-margin);
    color: var(--clr-primary-400);

    & p:not(.text-danger) {
        color: var(--clr-neutral-500);
    }

    @media (width < 992px) {
        --section-block-margin: 2rem;
        gap: 1.2rem;
    }
}

.center-content {
    justify-items: center;
    text-align: center;
}

.section-heading,
.section-sub-heading {
    font-size: var(--fs-section-heading);
    color: var(--clr-primary-400);
    font-weight: var(--fw-medium);
    max-width: 25ch;
    line-height: 65px;

    @media (width <=425px) {
        --fs-section-heading: 2.5rem;
    }
}

.section-sub-heading {
    font-size: var(--fs-section-sub-heading);
    font-weight: var(--fw-semi-bold);

    @media (width <=425px) {
        --fs-section-sub-heading: 1.5rem;
    }
}

.card,
.floating-transparent-card {
    --card-block-padding: 1rem;
    --card-inline-padding: 1rem;
    --card-border-radius: var(--border-radius-standard);

    background-color: var(--clr-neutral-100);
    border-radius: var(--card-border-radius);
    padding: var(--card-block-padding) var(--card-inline-padding);
}

.floating-transparent-card {
    --body-text-color: var(--clr-neutral-100);
    --card-block-padding: 2rem;
    --card-inline-padding: 1.813rem;
    --card-margin-inline: 2.5rem;

    position: absolute;
    bottom: var(--card-margin-inline);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    background: hsl(from var(--clr-neutral-600) h s l / 0.5);
    backdrop-filter: blur(20px);
    margin-inline: var(--card-margin-inline);
    width: calc(100% - var(--card-margin-inline)* 2);
    color: var(--body-text-color);


    & a,
    & .contact-title {
        color: inherit;
        text-decoration: none;
        font-family: var(--ff-heading);
    }

    & a {
        font-size: var(--fs-body);
    }

    & .contact-title {
        font-weight: var(--fw-semi-bold);
        font-size: var(--fs-section-sub-heading-small);
    }
}

.link {
    color: inherit;
    font-weight: var(--fw-semi-bold);
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.round-icon {
    --icon-width: 50px;
    --icon-height: 50px;
    --icon-fill-color: var(--clr-neutral-900);
    --icon-bg-color: var(--clr-accent-400);

    background-color: var(--icon-bg-color);
    fill: var(--icon-fill-color);
    display: block;
    width: var(--icon-width);
    height: var(--icon-height);
    border-radius: 100vW;
    padding: 12px;
}

.page-title {
    margin-top: 4rem;
    text-align: center;
    max-width: 100%;

    @media (width < 992px) {
        font-size: 2rem;
    }
}

/* UTILS */
.text-danger {
    color: var(--clr-danger);
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.w-100 {
    max-width: 100%;
}